<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" 
xmlns="http://xmlns.jcp.org/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee                       
 http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
 
 <jsp-config>
 
 	<jsp-property-group>
 		<!-- 적용 할 범위  -->
 		<url-pattern>/index.jsp</url-pattern>
 		<!-- header -->
 		<include-prelude>/common/header.jspf</include-prelude>
 		<!-- footer -->
 		<include-coda>/common/footer.jspf</include-coda>			
 	</jsp-property-group>
 	
 	<jsp-property-group>
 		<!-- 적용 할 범위  -->
 		<url-pattern>/forms/*</url-pattern>
 		<!-- footer -->
 		<include-coda>/common/footer.jspf</include-coda>			
 	</jsp-property-group>


	<jsp-property-group>
 		<!-- 적용 할 범위  -->
 		<url-pattern>/sellerPage/sellerForm_main.jsp</url-pattern>
 		<!-- header -->
 		<include-prelude>/common/header.jspf</include-prelude>
 		<!-- footer -->
 		<include-coda>/common/footer.jspf</include-coda>			
 	</jsp-property-group>
 	
 	<jsp-property-group>
 		<!-- 적용 할 범위  -->
 		<url-pattern>/forms/productRegistForm.jsp</url-pattern>
 		<!-- header -->
 		<include-prelude>/common/header.jspf</include-prelude>
 	</jsp-property-group>

   <jsp-property-group>
       <!-- 적용 할 범위  -->
       <url-pattern>/adminPage/admin_main.jsp</url-pattern>
       <!-- header -->
       <include-prelude>/common/header.jspf</include-prelude>
       <!-- footer -->
       <include-coda>/common/footer.jspf</include-coda>         
    </jsp-property-group>

   <jsp-property-group>
       <!-- 적용 할 범위  -->
       <url-pattern>/myPage/myPage_main.jsp</url-pattern>
       <!-- header -->
       <include-prelude>/common/header.jspf</include-prelude>
       <!-- footer -->
       <include-coda>/common/footer.jspf</include-coda>         
    </jsp-property-group>
    
   <jsp-property-group>
       <!-- 적용 할 범위  -->
       <url-pattern>/myPage/myPage_Home.jsp</url-pattern>
       <!-- header -->
       <include-prelude>/common/header.jspf</include-prelude>
       <!-- footer -->
       <include-coda>/common/footer.jspf</include-coda>         
    </jsp-property-group>
 	
	<jsp-property-group>
 		<!-- 적용 할 범위  -->
 		<url-pattern>/product/product_Men.jsp</url-pattern>
 		<url-pattern>/product/product_Women.jsp</url-pattern>
 		<url-pattern>/product/product_Food.jsp</url-pattern>
 		<!-- header -->
 		<include-prelude>/common/header.jspf</include-prelude>
 		<!-- footer -->
 		<include-coda>/common/footer.jspf</include-coda>			
 	</jsp-property-group>
 	
 	
 	</jsp-config>
</web-app>
 